<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/guide">Beginner Guide!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addprints">Add Prints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Shedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/status">Printer Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addprinters">Add Printers</a>
      </li>
    </ul>
  </div>
</nav>
