<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 260px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Design Lab</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-white fs-5"
                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                3d Printing Signups
            </button>
            <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/" class="link-light rounded fs-5">Home</a></li>
                    <li><a href="/print" class="link-light rounded fs-5">Prints</a></li>
                    <li><a href="/print/new" class="link-light rounded fs-5">Add Print</a></li>
                    <li><a href="/schedule" class="link-light rounded fs-5">Schedule</a></li>
                    <li><a href="/printer" class="link-light rounded fs-5">Printers</a></li>
                    <li><a href="/status" class="link-light rounded fs-5">Printer Status</a></li>
                    <li><a href="/guide" class="link-light rounded fs-5">Guide</a></li>

                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-white fs-5"
                data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Laser Cutting
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/" class="link-light rounded fs-5">Home</a></li>
                    <li><a href="/svg/new" class="link-light rounded fs-5">Submit SVG</a></li>
                    <li><a href="/svg/schedule" class="link-light rounded fs-5">Schedule</a></li>
                    <li><a href="/svg/guide" class="link-light rounded fs-5">Guide</a></li>
                </ul>
            </div>
        </li>
        <!-- <li>
                <a href="#" class="nav-link text-white"></a>
              </li> -->
        <li>
            <a href="#" class="nav-link text-white">
                <h6>Hall of Fame</h6>
            </a>
        </li>
    </ul>
    <div class="fs-6 d-flex align-itmes-center text-white text-decoration-none">
        <h4>Email</h4>
    </div>
    <hr style="margin-bottom:15px !important;" class="mb-auto">
    <div class="d-flex align-items-center text-white text-decoration-none align-self-mb-end">
        <span class="fs-6 d-flex align-items-center text-white text-decoration-none"
            style="padding:15px; margin-bottom:15px;" xlink>Admined By General Rose</span>
    </div>
</div> <!-- End of Sidebar-->