<%if(user == null){%>
    <%- include('partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
    <%- include('partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>
<h1 class="fs-1">Welcome to the Adv Tips</h1>

<%- include('partials/footer') -%>