<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<h3 id="guideQ"> Don't know how to 3dPrint? Head over to our beginner guide for a quick an easy Guide!</h3>
<h4> Printer Availability</h4>
<table class="table table-dark  table-striped table-hover">
  <thead>
    <tr>
      <td colspan="2">MK3 Family</td>
      <td colspan="2">Mini</td>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>MK3A</td>
      <td>inaccessible</td>
      <td>Mini 1</td>
      <td>Free</td>
    </tr>
    <tr>
      <td>MK3B</td>
      <td>Printing</td>
      <td>Mini 2</td>
      <td>Nonfunctional</td>
    </tr>
  </tbody>
</table>

  <!-- <a href="/play">Click to play a round of Paper, Rock, Scissors</a> -->

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <!-- <img src="" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Example Print!</h1>
        <p class="lead">The Description from the randomly picked hall of fame print</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More details <!--put in link to that print--></button>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <!-- <img src="" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">BENCHY</h1>
        <p class="lead">This is our current collection of Benchies. Benchies are an old Test print that does not actually test that much. However, it has become a meme, so Ian printed a dry dock for them.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button href="#www.3dbenchy.com" type="button" class="btn btn-secondary btn-lg px-4 me-md-2" role="button" >Link to file</button>
        </div>
      </div>
    </div>
  </div>



  <%- include('partials/footer') -%>