<%- include('partials/header', {title:"Design Lab 2.0"})-%>


                        <!-- Main Stuff -->
                        <div class="row">
                            <p class="fs-5" style="color:black">
                                Welcome to the Design Lab Website! <br>
                                You can schedule a print, look over the print schedule, look into the Hall of Fame,
                                or
                                send
                                a SVG off to General Rose.
                            </p>
                        </div>
                        <a href="/auth/google" class="fs-5 fw-bold"><span class="fa fa-google"></span> Log in here
                            to
                            get
                            Access</a>

                        <div id="hof Wrapper" class="wrapper">

                        </div>
                        <div>
                    
                        </div><!--end content div-->
                        
<%- include('partials/body')%>
<%- include('partials/footer')%>
<!-- 
/\__/\
(=o.o=)
|/--\|
(")-(")
-->