<%- include('partials/header', {title:"print[name]"}) -%>



<!-- This is where I put all the specifics about each print -->

<img class="rounded-lg-3" src="images/logo.jpg">
console.log(print)
<table class="table table-striped table-primary">
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
</table>