<%- include('partials/header', {title:"Add Prints"}) -%>
<h2>Create New Print!</h2>
<p>Please remember the rules for creating a print</p>
<ol>
    <o>Slice With Prusa Slicer --- Make Sure you are slicing for the right printer. It should be the third option on the right</o>
    <o>Save your project (3MF/STL) to Google Drive</o>
    <o>Reserve the amount of time </o>
</ol>

<h1 href="/guide">If you don't remember how to slice your file visit the Guide for a refresher!</h1>

<form action="/printCreate" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="printName" value=""><br>
    <label for="description">Description:</label>
    <input type="text" id="desc" name="description" value=""><br>
    <p class="linkRule fs-4">Please make sure to put your 3mf/STL file on Google Drive with PUBLIC access to anyone with the link.</p>
    <label for="time">Link to file:</label>
    <input type="text" id="link" name="link" value=""><br>
    <label for="time">Est. Time in min:</label>
    <input type="text" id="eta" name="time" value=""><br>
    <label for="infill">Infill:</label>
    <input type="text" id="infill" name="infill" value=""><br>
    <label for="width">Width:</label>
    <input type="text" id="width" name="width" value=""><br>
    <label for="studentName">Student Name</label>
    <input type="text" id="stn" name="studentName"><br>
    <br><br>
    <input type="submit" value="Push your Print!">
</form>

<%- include('partials/footer') -%>