<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header', {title:"Schedule"}) -%>
  <h1 class="fs-1">Welcome to the Schedules Page!</h1>
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
  </head>
  <body>
    <h4 class="fs-4"> This Calendar includes all the Printers -- go to the arrow on the top right to remove visibility.</h1>
    <iframe class="d-flex justify-content-center" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%237986CB&ctz=America%2FNew_York&title=Printers&showTitle=1&showPrint=1&showCalendars=1&showTabs=1&src=Y182NjdlZGVkZGVhNTYwNjI3MzQxN2ZiNzAyZjg4ZjQ3YzRhN2YwZDMwN2EwMzI3ZjhkMWVmNGE4N2E4ZjA1Njg4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18xNjAzOWQzMGViMDBmZmJiYzc5MDJiN2NlNzg4NjEyMzQ1YzliZmFmMjUxODg2MTU4Y2VkNWE5ODRiNzMxOGM4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y180ODhhMmY0MTkzNDUwN2ZlOTY5NTNiZjA5Yjg1YzFlYTA0ZTJjNGYwOWYzN2VkYzMzMTIwOTljMTc2Zjk4YmVhQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y185NTBhNzMyYzUwNzE0ZjYxYTMzZGY4MGU0ZDg1YzI5NDNhMDNlNGZmZDY3MWU3ZDU0MTE1ZDVmNDI5MTY2MTAxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18wNDZjMTVjYzlhMGJjOTFmZjA4MWI2NTU2NGU2NDk0ZTgzMDZmODI0ZmFhM2E4MDQzMzVjNWUxOWZkODg5ZGNiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19lNjdiNjVmMmE2NTg0Yzk2Y2Q3NjEzYjQ0YjFkNWM4OGY3MjI1YmQyZmEzZTEzNGEwNDM3NTRmNDExNjc4NmYzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18zNTQ2YjhhMjNmYzAwMTA4YzE4YmExMjJkNTE3MDIyYjdhMDI4MTJhZWM2ODJlMDZmNTRiZDczMDIyYjQxMzAxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18xMmU3MTRiNjczZjNlNmY5MGZmZGMyMjQ2NmQ4N2UzYjM0MThhZGUwYjIzMWYzMjM0ZTA1NDcwOTY4YjE2NTZlQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D81B60&color=%237986CB&color=%23F09300&color=%233F51B5&color=%23C0CA33&color=%237CB342&color=%23F6BF26&color=%237986CB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    

  </body>
</html>