h3 {
  text-align: center;
  color: #272221
}

h4 {
  /* text-align:left-center; */
  color: #272221;
}

label {
  color: #3716c9;
}

.linkRule {
  color: #3716c9;
}

.printertable {
  text-align: left;
}

.b-example-divider {
  visibility: hidden;
}

.headerText {
  color: #ffffff;
}

.headerText .hover {
  color: #ffffff;
}

.hof {
  color: #000000;
  text-align: center;
}

.pPrint {
  color: #3716c9;
}

.reportMessage {
  color: #000000
}

.footer {
  color: #000080
}