<%if(user == null){%>
    <%- include('../partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
    <%- include('../partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>

                    <p class="fs-2 pPrint text-justify text-center" style="color:#1d3557">Please remember the rules for creating a print
                    </p>
                    <ul class="list-group list-group-flush" style="background-color:#a8dadc">
                        <li class="list-group-item list-group-item-dark text-justify text-center" style="color:#1d3557">Slice With Prusa
                            Slicer --- Make Sure you are slicing for the right printer. It should be the third
                            option on the right</li>
                        <li class="list-group-item list-group-item-dark text-justify text-center" style="color:#1d3557">Save your project
                            (3MF/STL) to Google Drive</li>
                        <li class="list-group-item list-group-item-dark text-justify text-center" style="color:#1d3557">Reserve the right
                            amount of time </li>
                        <li class="list-group-item list-group-item-dark font-weight-bold text-justify text-center" style="color:#1d3557">
                            You cannot print after school if you are not going to be there -- It is a Fire Hazard
                            and the print will be stopped. </li>
                    </ul>
                    <div style="text-align:center">
                        <a class="fs-2 text-justify text-center" href="/guide">If you don't
                            remember how to slice your
                            file visit the Guide for a refresher!</a>
                    </div>
                    <!-- Main Stuff -->


                    <div>
                        <form action="/upload/photo" method="POST" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Print Name</label>
                                    <input class="form-control" id="printName" name="printName"
                                        placeholder="Benchy-89-IK">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="studentName">Student Name</label>
                                    <input type="text" class="form-control" id="studentName" name="studentName"
                                        placeholder="Ian Kopke">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    placeholder="A very basic Test Print that will also go into the dry dock outside the Design Lab">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control" id="date" name="date"
                                        placeholder="dd/mm/yyyy/hh/mm">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="time">Print Time</label>
                                    <input type="text" class="form-control" id="time" name="time" placeholder="89 (in min)">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="printer">Printer</label>
                                    <select id="printer" name="printer" class="form-control">
                                        <option selected>Choose...</option>
                                        <option value="MK3SA">MK3S A</option>
                                        <option value="MK3SB">MK3S B</option>
                                        <option value="MK3C">MKS C</option>
                                        <option value="MK3SD">MK3S D</option>
                                        <option value="Mini1">Mini 1</option>
                                        <option value="Mini2">Mini 2</option>
                                        <option value="Mini3">Mini 3</option>
                                        <option value="Mini4">Mini 4</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="infill">Infill </label>
                                    <input type="text" class="form-control" id="infill" placeholder="20" name="infill">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="width"
                                        id="width" value="0.30">
                                    <label class="form-check-label" for="width">0.30</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="width"
                                        id="width2" value="0.25">
                                    <label class="form-check-label" for="width2">0.25</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="width"
                                        id="width3" value="0.20">
                                    <label class="form-check-label" for="width3">0.20</label>
                                </div>
                                
                                <div>
                                    <label for="photo">Photo Name</label>
                                    <input type="text" class="form-control" name="photo" placeholder="carabiner-IK.jpg">
                                </div>
                            </div>


                            <div class="form-row">
                                <!-- <div class="form-group col-md-4">
                                    <input name="stl" type="file" class="custom-file-input form-control" id="customFile">
                                    <label class="custom-file-label" for="stl">STL/3mf Submit</label>
                                </div> -->
                                <div class="form-group col-md-4">
                                    <input type="file" name="photoFile" accept="image/*" required class="custom-file-input form-control" id="customFile">
                                    <label class="custom-file-label" for="photoFile">Photo Submission</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br>


<%- include('../partials/body')-%>