<%if(user == null){%>
    <%- include(../'partials/header', {title:"Design Lab 2.0"})-%>
<%}else {%>
    <%- include('../partials/userHeader', {title:"Design Lab 2.0"})-%>
<%}%>

<div class="row">
    
</div>
<div style="background-color:#f1faee;">
    <form action="/svg" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" style="color:#1d3557;">SVG Name</label>
                <input class="form-control" id="printName" name="cutName"
                    placeholder="roboticsQREtch-IK">
            </div>
            <div class="form-group col-md-6">
                <label for="studentName" style="color:#1d3557;">Student Name</label>
                <input type="text" class="form-control" id="studentName"
                    placeholder="Ian Kopke">
            </div>
        </div>
        <div class="form-group">
            <label for="description" style="color:#1d3557;">Description</label>
            <input type="text" class="form-control" id="description"
                placeholder="An attempt at creating a QR code that we could show people at competition to send them to the Robotics Website">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="date" style="color:#1d3557;">Date cut by</label>
                <input type="text" class="form-control" id="date" style="color:#1d3557;"
                    placeholder="dd/mm/yyyy/hh/mm">
            </div>
        
            <div class="form-group col-md-2">
                <label for="material" style="color:#1d3557;">Material</label>
                <select id="material" name="printer" class="form-control">
                    <option selected>Choose...</option>
                    <option value="acryllic">Acryllic</option>
                    <option value="wood">Wood</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="cutType" style="color:#1d3557;">Type of Cut</label>
                <select id="cutType" name="printer" class="form-control">
                    <option selected>Choose...</option>
                    <option value="etch">etch/engrave</option>
                    <option value="cut">Cut</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="width" style="color:#1d3557;">Stroke Width</label>
                <input type="text" class="form-control" id="width" style="color:#1d3557;"
                    placeholder="0.0001 for cut and  0.01 for etch (roughly)">
            </div>
        </div>

        <div class="form-row">
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="file" class="custom-file-input form-control" id="customFile">
                <label class="custom-file-label" for="customFile">SVG Submit</label>
            </div>
            <div class="form-group col-md-4" style="margin-left:15!important">
                <input type="file" class="custom-file-input form-control" id="customFile">
                <label class="custom-file-label" for="customFile">Photo of Cut</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


<%- include('../partials/body')-%>